<body>

  <div class="container" style="margin-top: 100px !important;">
    <div class="row d-flex justify-content-center mt-5">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card py-3 px-2 p-3">
          <p class="text-center mb-3 mt-4">Thank you for using Mailtowallet</p>
          <div class="m-5 text-center">
            <img style="width: 150px;" src="/mailtowallet-logo.png" alt="">
          </div>
          <div class="form-group mt-1">
            <div class="text-center" id='loading'>
              <div class="spinner-border text-primary"></div>
            </div>
            <div class="flex-col space-y-2 justify-center items-center text-center">
              <p id="error"
                style="color: #fa3939; font-size: 15px; max-width: 300px; margin: auto; margin-bottom: 20px;">

              </p>
              <!-- <button id='loginButton' onclick="" class="login login-submit mt-3">
                Connect your wallet
              </button>
              <button id='sigInButton' onclick="" class="login login-submit mt-3">
                SigIn with mail to wallet
              </button> -->
              <!-- <p id='userWallet' class='text-lg text-gray-600 my-2'></p> -->
            </div>

            <form autocomplete="off" action="/interaction/<%= uid %>/confirm" method="post">
              <button autofocus type="submit" class="btn btn-block btn-primary btn-lg">

                <small>
                  <i style="vertical-align: baseline;" class="fa-solid fa-wallet pr-2"></i> Continue
                </small>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="login-card p-3 pb-5 pt-5">
    <h1>
      <%= title %>
    </h1>
    <div class="text-center p-3">
      <img class="mt-3 mb-3" style="max-width: 300px;max-height: 100px;" src="/logo-sitecreator.png" alt="">
    </div>
    <div class="login-client-image">
      <% if (client.logoUri) { %><img src="<%= client.logoUri %>">
        <% } %>
    </div>

    <ul>
      <% if ([details.missingOIDCScope, details.missingOIDCClaims,
        details.missingResourceScopes].filter(Boolean).length===0) { %>
        <li>the client is asking you to confirm previously given authorization</li>
        <% } %>

          <% missingOIDCScope=new Set(details.missingOIDCScope); missingOIDCScope.delete('openid');
            missingOIDCScope.delete('offline_access') %>
            <% if (missingOIDCScope.size) { %>
              <li>scopes:</li>
              <ul>
                <% missingOIDCScope.forEach((scope)=> { %>
                  <li>
                    <%= scope %>
                  </li>
                  <% }) %>
              </ul>
              <% } %>

                <% missingOIDCClaims=new Set(details.missingOIDCClaims); ['sub', 'sid' , 'auth_time' , 'acr' , 'amr'
                  , 'iss' ].forEach(Set.prototype.delete.bind(missingOIDCClaims)) %>
                  <% if (missingOIDCClaims.size) { %>
                    <li>claims:</li>
                    <ul>
                      <% missingOIDCClaims.forEach((claim)=> { %>
                        <li>
                          <%= claim %>
                        </li>
                        <% }) %>
                    </ul>
                    <% } %>

                      <% missingResourceScopes=details.missingResourceScopes %>
                        <% if (missingResourceScopes) { %>
                          <% for (const [indicator, scopes] of Object.entries(details.missingResourceScopes)) { %>
                            <li>
                              <%= indicator %>:
                            </li>
                            <ul>
                              <% scopes.forEach((scope)=> { %>
                                <li>
                                  <%= scope %>
                                </li>
                                <% }) %>
                            </ul>
                            <% } %>
                              <% } %>

                                <% if (params.scope && params.scope.includes('offline_access')) { %>
                                  <li>
                                    the client is asking to have offline access to this authorization
                                    <% if ((!details.missingOIDCScope) ||
                                      !details.missingOIDCScope.includes('offline_access')) { %>
                                      (which you've previously granted)
                                      <% } %>
                                  </li>
                                  <% } %>

    </ul>

    <form autocomplete="off" action="/interaction/<%= uid %>/confirm" method="post">
      <button autofocus type="submit" class="login login-submit">Continue</button>
    </form>
    <div class="login-help">
      <a href="/interaction/<%= uid %>/abort">[ Cancel ]</a>
      <% if (client.tosUri) { %>
        <a href="<%= client.tosUri %>">[ Terms of Service ]</a>
        <% } %>
          <% if (client.policyUri) { %>
            <a href="<%= client.policyUri %>">[ Privacy Policy ]</a>
            <% } %>
    </div>
  </div> -->
</body>